In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
my_data = ["Boat", "Car", "Bike", "Truck"]

my_series = pd.Series(my_data)

In [3]:
print(my_series)

0     Boat
1      Car
2     Bike
3    Truck
dtype: object

## DataFrames

In [4]:
my_data = [("Boat", 12), ("Car", 22), ("Bike",32), ("Truck", 42)]

my_df = pd.DataFrame(my_data, columns=["Thing", "Count"])

my_df

   Thing  Count
0   Boat     12
1    Car     22
2   Bike     32
3  Truck     42

In [5]:
my_df.dtypes # to check the columns and data types of the dataframe

Thing    object
Count     int64
dtype: object

## Reading in data

In [ ]:
df = pd.read_csv() # read csv file

In [ ]:
df.head() # print the first five rows in the dataframe.
df.tail() # print the last five rows in the dataframe.

In [ ]:
df.dtypes # data types of each column of the dataframe.

In [ ]:
df.describe() # stastical review of the dataframe.

## Columns and Rows

In [ ]:
df["column_name"]

In [ ]:
df.loc["row"]

## Subsetting Data

In [ ]:
# subsetting columns
new_df = df["column name","column name","column name"]

df.shape
# subsetting rows using loc
df_subset1 = df.loc[(df["column name"]))] # with some conditional statement inside.

In [ ]:
# subsetting using query
df.query("query condition") # doesn't work in every situation

In [ ]:
# droping null values
new_df = df.loc(~df['col name'].isna())

## Casting dtypes

## Creating new column

## Adding new row

In [ ]:
# concatenating two dataframes
pd.concat([df, other_df])

## Plot Examples

## Save output

In [ ]:
df.to_csv('processed_data.csv', index=False) # index var signals whether or not to save the index of the data frame.